*,
::after,
::before {
    box-sizing: border-box;
}

body,
html {
    @include scrollbar;
    height: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}

html {
    scroll-behavior: smooth;
    //scroll-padding-top: 150px;
}

.page {
    background-color: var(--bg);
    color: var(--text);
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-family: var(--primary_font);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    @media(min-width: $hd) {
        font-size: 20px;
    }

    &.is-overflow {
        overflow: hidden;
    }

    &__content {
        flex: 1 0 auto;
    }

    &__section {
        padding-top: 35px;
        padding-bottom: 35px;
        @media(min-width: $hd) {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
}

.full-width {
    margin-left: calc(0.02px - var(--container_padding));
    margin-right: calc(0.02px - var(--container_padding));
    @media(min-width: 1300px) {
        margin-left: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
        margin-right: calc(-100vw / 2 + var(--container_max_width) / 2 - var(--container_padding));
    }
}

.container {
    max-width: var(--container_max_width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container_padding);
    padding-right: var(--container_padding);
}

hr {
    border: none;
    color: #999;
    display: block;
    background-color: #999;
    height: 1px;
    margin: 0;
}

.h1,
h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media(min-width: $hd) {
        font-size: 35px;
        margin-bottom: 20px;
    }
}

.h2,
h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    @media(min-width: $hd) {
        font-size: 25px;
        margin-bottom: 20px;
    }
}

.h3,
h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 16px;
    @media(min-width: $md) {
        font-size: 20px;
    }

    &.big {
        font-size: 20px;
        @media(min-width: $md) {
            font-size: 24px;
        }
    }
}

a {
    color: var(--accent_1);
    transition: color 0.3s;
    @include hover {
        color: var(--accent_1_hover);
    }
}

img {
    height: auto;
    max-width: 100%;
}

svg {
    transition: fill 0.3s;
}

*:focus {
    outline: none;
}

button,
input,
textarea {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

ol,
p,
ul {
    margin-top: 0;
    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }
}

ol,
ul {
    padding: 0;
}

ol {
    list-style-position: inside;
}

ul {
    &:not([class]) {
        list-style: none;

        li {
            padding-left: 12px;
            position: relative;
            z-index: 1;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &::before {
                background-color: var(--accent);
                border-radius: 50%;
                content: '';
                height: 6px;
                left: 0;
                position: absolute;
                top: 0.6em;
                width: 6px;
                z-index: 1;
            }
        }
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.accent_1-color {
    color: var(--accent_1);
}

.accent_2-color {
    color: var(--accent_2);
}