<footer class="footer">
    <div class="footer__inner container">
        <div class="footer__left">
            <div class="footer__logo">
                <img src="images/white_logo@2x.png" alt="ПСПФНР">
            </div>

            <ul class="footer__menu">
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Согласие на обработку персональных данных</a></li>
            </ul>
        </div>

        <div class="social-links">
            <a class="social-link social-link--vk" href="https://vk.com/pspfnr" target="_blank" rel="noreferrer nofollow" title="Мы Вконтакте">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#vk_icon" />
                </svg>
            </a>

            <a class="social-link social-link--tg" href="https://t.me/pspfnr_official" target="_blank" rel="noreferrer nofollow" title="Наш Telegram">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg_icon" />
                </svg>
            </a>

            <a class="social-link social-link--ok" href="https://ok.ru/group/53230544224389" target="_blank" rel="noreferrer nofollow" title="Мы в Одноклассниках">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#ok_icon" />
                </svg>
            </a>
        </div>
    </div>
</footer>