<header class="header compensate-for-scrollbar">
    <div class="header__inner container">
        <div class="header__logo">
            <img src="images/logo@2x.png" alt="ПСПФНР">
        </div>

        <div class="social-links">
            <a class="social-link social-link--vk" href="#" target="_blank" rel="noreferrer nofollow" title="Мы Вконтакте">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#vk_icon" />
                </svg>
            </a>

            <a class="social-link social-link--tg" href="#" target="_blank" rel="noreferrer nofollow" title="Наш Telegram">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#tg_icon" />
                </svg>
            </a>

            <a class="social-link social-link--ok" href="#" target="_blank" rel="noreferrer nofollow" title="Мы в Одноклассниках">
                <svg aria-hidden="true">
                    <use xlink:href="images/sprite.svg#ok_icon" />
                </svg>
            </a>
        </div>
    </div>
</header>